body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1e3932;
}

.header {
  height: 99.5px;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navb {
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textos {
  width: 40vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.Ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  transform: translate(3px, 3px);
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.9rem;
  font-family: 'SoDo Sans' Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.2s;
}
li a:hover {
  color: green;
  list-style: none;
  text-decoration: none;
}
.logoSt {
  height: 51px;
  width: 51px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 42vw;
  gap: 20px;
}
.location {
  display: flex;
  align-items: center;
  width: 180px;
  gap: 9px;
}
.histt {
  width: 120px;
  height: 47px;
}
.banner {
  margin-bottom: 30px;
  overflow: hidden;
}
.hoverable {
  transition: 0.5s;
}
.hoverable:hover {
  font-size: 13px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 1px 5px rgba(1, 1, 1, 0.9));
  cursor: auto;
}
.bN {
  height: 192px;
  width: 99.5vw;
  background-color: #d4e9e2 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}
.span {
  width: 60vw;
  text-align: center;
  font-family: 'SoDo Sans' Helvetica, Arial, sans-serif;
  color: #1e3932 !important;
  font-size: 1.2rem;
  line-height: 1.75;
}
.linha-alg {
  display: flex;
  flex-direction: row;
  background-color: #d4e9e2;
}
.linha-algR {
  display: flex;
  flex-direction: row-reverse;
  background-color: #d4e9e2;
}
.imgs {
  width: 680px;
  height: 396px;
}
.Cols col {
  background-color: #d4e9e2;
  overflow: hidden;
}
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 0%;
}
.card-text {
  margin-top: 20px;
  width: 510px;
  font-size: 1.1rem;
  font-weight: 420;
  letter-spacing: 0.8px;
}
.card-title {
  font-size: 24px;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  overflow-x: hidden;
}
